/** sets box sizing for project **/
* {
	box-sizing: border-box;
}

/** handles vertical layout of the page **/
.page-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

/** handles horizontal layout of the page **/
.page-format {
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
}

.page-format--header {
    background-color: rgb(64, 161, 241);
    height: 80px;
}

.page-format--main {
    background-color: rgb(239, 246, 252);
    min-height: calc(100vh - 160px);
}

.page-format--footer {
    margin-left: auto;
    background-color: rgb(64, 161, 241);
    height: 80px;
}

.dashboard {
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    align-items: center;
}

.dashboard__logo {
    justify-self: start;
    grid-column: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.dashboard__logo a {
    margin: 20px;
}

.dashboard__logo a:link {
    text-decoration: none;
    color: rgba(253, 253, 253, 0.925);
}

.dashboard__logo a:visited {
    text-decoration: none;
    color: rgba(253, 253, 253, 0.925);
    }

.dashboard__logo h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 100%;
}

.dashboard__search {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.dashboard__searchform {
    width: 100%;
}

.dashboard__searchbar {
    position: relative;
    width: 100%;
    padding: 8px 10px 8px 40px;
    margin: 8px 0px;
    border: 2px solid rgb(193, 232, 255);
    border-radius: 12px;
    background-color: rgb(227, 245, 255);
    background-image: url('./images/searchicon.png');
    background-position: 10px 10px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    outline: none;
}

.dashboard__searchbar:focus {
    border: 2px solid rgb(193, 232, 255);
    background-color: white;
}

.dashboard__searchresult {
    visibility: hidden;
    position: relative;
    width: 100%;
}

.dashboard__searchbar:focus + .dashboard__searchresult {visibility: visible;}

.dashboard__searchresult:hover {visibility: visible;}

.search-menu__items:hover + .dashboard__searchresult {visibility: visible;}

.search-menu {
    position: absolute;
    
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(0, 0);
}

.search-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.search-menu__items {
    background-color: rgb(227, 245, 255);
}

.dashboard__settings {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.dashboard__button {
    width: 50px;
    height: 50px;
    margin: 20px;
    background-color: rgb(136, 201, 255);
    border: none;
    border-radius: 15px;
    color: rgba(253, 253, 253, 0.925);
    cursor: pointer;
}

.dashboard__button:hover {
    background-color: rgb(136, 201, 255);
}

.footer-bar {
    width: 100%;
    max-width: 1500px;
}


#buyhideme {
    visibility: hidden;
    align-items: center;
}

#sellhideme {
    visibility: hidden;
    align-items: center;
}

.buysellmenu {
    position: absolute;
    top: 20;
    left: 20;
    height: 800px;
    width: 800px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: white;
    z-index: 1;
    text-align: center;
}


.landing-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.landing-container__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
}

.landing-container__logo h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 55px;
}

.landing-container__items {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 600px;
}

.landing-container__login {
    text-align: center;
    position: relative;
    margin: auto;
}

.landing-container__register {
    text-align: center;
    position: relative;
    margin: auto
}

.landing-container__login-form-hideme {
    visibility: visible;
    width: 300px;
    height: 250px;
    position: absolute;
    padding: 20px;
    transform: translate(-50%, -50%);

}

.landing-container__login-button-hideme {
    visibility: hidden;
    position: absolute;
    width: 300px;
    height: 250px;
    padding: 20px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing-container__register-form-hideme {
    visibility: hidden;
    position: absolute;
    width: 300px;
    height: 250px;
    padding: 20px;
    transform: translate(-50%, -50%);
}

.landing-container__register-button-hideme {
    visibility: visible;
    position: absolute;
    width: 300px;
    height: 250px;
    padding: 20px;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#viewcurrentprice {
    font-size: x-large;
}

#viewdailyreturn {
    font-size: medium;
}

#viewdailypercent {
    font-size: medium;
}

#viewlogo {
    font-size: xx-large;
}

.viewbuttonbuy {
    font-size: xx-large;
}

.viewbuttonsell {
    font-size: xx-large;
}



#buydollarsformcontainer {
    visibility: inherit;
}

#buydollarsbuttoncontainer {
    visibility: inherit;
}

#buysharesformcontainer {
    visibility: inherit;
}

#buysharesbuttoncontainer {
    visibility: inherit;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}