{% extends "layout.html" %}

{% block title %}
    Index Page
{% endblock %}

{% block body %}

    <p>My Holdings</p>
    <input type="hidden" id="datadump" name="datadump" value="{{ data }}">
    <section id="holdgrid">
        {% for item in data %}
            {% if item.symb is defined %}
                {% set symb = item.symb %}
                {% set hrefstr = "/viewstock?q="+symb %}
                <p><a href={{ hrefstr }} >{{ item }}</a></p>
            {% endif %}


        {% endfor %}
    </section>






    <script src="../static/index.js"></script>
    <script>

//        starttime = performance.now();
//        refreshHoldingsPage();
//        const viewpage = setInterval(()=>{refreshHoldingsPage()}, 3000);
//        endtime = performance.now();

//        console.log(`${endtime - starttime} ms`)

//        console.log(document.getElementById("datadump").value);
                

        
        
    </script>



{% endblock %}