{% extends "layout.html" %}

{% block title %}
    Index Page
{% endblock %}

{% block body %}

    <section class="index-body">
        <input type="hidden" id="datadump" name="datadump" value="{{ data }}">

        <div class="index-body__heading">
            <h2>My Holdings</h2>
        </div>

        <div class="index-body__holdings" id="index-body__grid-insert">
        </div>

    </section>

{% endblock %}

{% block footer %}
    <section class="footer-bar">
        <div id="footer-bar__info"></div>
    </section>

    <script>

        let controller = new indexController();
        let view = new indexView(controller);
        view.refreshHoldingsPage();
    
/**        setInterval(()=>{
            controller.updateRawData();
            view.refreshHoldingsPage();
            }, 3000);
*/
    </script>
{% endblock %}

