{% extends "layout.html" %}

{% block title %}
    Index Page

{% endblock %}

{% block body %}

    <p>My Holdings</p>
    <section id="holdgrid"></section>





    <script src="../static/index.js"></script>
    <script>

//        starttime = performance.now();
//        refreshHoldingsPage();
//        const viewpage = setInterval(()=>{refreshHoldingsPage()}, 3000);
//        endtime = performance.now();

//        console.log(`${endtime - starttime} ms`)

        

        
        
    </script>



{% endblock %}