<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- bootstrap and css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="/static/styles.css" rel="stylesheet">

        <title>Landing Page</title>
    </head>

    <body>
        <div class="landing-container">
            <section class="landing-container__logo">
                <h1>finance +</h1>
                <p class="landing-text" id="landing-text"></p>
                <p class="landing-text landing-text--end">created by Andre Tong</p>
                <div class="landing-container__padding">
                </div>
                    
            </section>

            <section class="landing-container__items">

                <div class="landing-container__login-form-hideme" id="landing-container__login-form-hideme" style="display: flex">
                    <form class="landing-container__form" id="loginform">
                        <h2>Sign In</h2>
                        <div>
                            <input autocomplete='off' autocorrect="off" autocapitalize="off" autofocus type='text' name='username' placeholder='Username' />
                        </div>
                        <div class="landing-container__status" id="loginnamestatus">
                            <p></p><p></p>
                        </div>
                        <div>
                            <input type='password' id='loginpw' name='password' placeholder='Password' autocomplete='off'autocorrect="off" autocapitalize="off" autofocus />
                        </div>
                        <div class="landing-container__showpw" onclick="togglePW('loginpw', 'loginpw_cb')">
                            <input type="checkbox" id='loginpw_cb'>
                            <p>show password</p>
                        </div>
                        <div class="landing-container__status" id="loginpasswordstatus">
                            <p></p><p></p>
                        </div>
                        <button class="landing-container__submitbutton">Submit</button>
                    </form>
                </div>

                <div class="landing-container__buttonlogin" id="landing-container__buttonlogin" style="display: none">
                    <button class="landing-container__button" id="loginstart" onclick="showlogin()">Login</button>
                </div>

                <div class="landing-container__or">
                    or
                </div>

                <div class="landing-container__register-form-hideme" id="landing-container__register-form-hideme" style="display: none">
                    <form class="landing-container__form" id="registerform">
                        <h2>Create Account</h2>
                        <div>
                            <input autocomplete='off' autocorrect="off" autocapitalize="off" autofocus type='text' name='username' placeholder='Username' />
                        </div>
                        <div class="landing-container__status" id="registernamestatus">
                            <p></p><p></p>
                        </div>
                        <div>
                            <input type='password' id='registerpw' name='password' placeholder='Password' autocomplete='off' autocorrect="off" autocapitalize="off" autofocus />
                        </div>
                        <div class="landing-container__showpw" onclick="togglePW('registerpw', 'registerpw_cb')">
                            <input id="registerpw_cb" type="checkbox">
                            <p >show password</p>
                        </div>
                        <div class="landing-container__status" id="registerpasswordstatus">
                            <p></p><p></p>
                        </div>
                        <div>
                            <input autofocus type='password' id='confirmationpw' name='confirmation' placeholder='Reconfirm Password' autocomplete='off' autocorrect="off" autocapitalize="off" />
                        </div>
                        <div class="landing-container__showpw" onclick="togglePW('confirmationpw', 'confirmationpw_cb')">
                            <input id="confirmationpw_cb" type="checkbox">
                            <p>show password</p>
                        </div>
                        <div class="landing-container__status" id="registerconfirmationstatus">
                            <p></p><p></p>
                        </div>

                        <button class="landing-container__submitbutton">Submit</button>
                    </form>
                </div>
                
                <div class="landing-container__buttonregister" id="landing-container__buttonregister" style="display: flex">
                    <button class="landing-container__button landing-container__button--register" id="registerstart" onclick="showregister()">Create Account</button>
                </div>

                <div class="landing-container__padding">
                </div>
                
            </section>
        </div>
    </body>
</html>

<!-- scripts 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/static/src/scripts.js"></script>
<script src="/static/src/landing.js"></script>
<script src="/static/src/about.js"></script>
-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="../static/dist/main.js"></script>
<script>

    updateWriteUp("landing-text");
    addEL_loginform();
    addEL_registerform();

</script>






