<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1.0, minimum-scale=1, width=device-width">

        <!-- bootstrap and css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="../static/styles.css" rel="stylesheet">

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body class="page-layout" id="page-layout">
        <!-- transluscent screen -->
        <div class="global__screen" id="screen_about" style="visibility:hidden">
        </div>

        <div class="about" id="about" style="visibility: hidden">
            <p class="about__text" id="about__text"></p>
            <p class="about__text about__text--end">Created by Andre Tong</p>
            <button class="about__button" onclick="hideAbout()">ok</button>
        </div>

        <div class="about about--start" id="about-start" style="visibility: hidden">
            <p class="about__text about__text--start">Credited 10 000k into this account!</p>
            <p class="about__text about__text--start">Start by searching for stock to buy</p>
            <button class="about__button" onclick="hideAboutStart()">ok</button>
        </div>

        <header class="page-format page-format--header">
            <section class="dashboard">
                <!-- LOGO -->
                <div class="dashboard__logo">
                    <a href = "/"><h1>finance+</h1></a>
                </div>
                <!-- SEARCH BAR -->
                <div class="dashboard__search">
                    <form class="dashboard__searchform" action="javascript:void(0)">
                        <input class="dashboard__searchbar" id="searchbar" type="text" autocomplete="off" placeholder="Search Symbol"/>
                    
                        <div class="dashboard__searchresult" id="searchstatus">
                        </div>
                    </form>
                </div>
                <!-- SETTINGS -->
                <div class="dashboard__settings">
                    <button class="dashboard__button" onclick="toggleProfile()"><i class="fa fa-bars"></i></a></button>
                    </form>
                </div>
            </section>

            <section class="profile-menu">
                <div class="profile-menu__page" id="profile-menu__page" style="display: none">
                    <div class="profile-menu__item" onclick="showAbout()">about</div>
                    <div class="profile-menu__item" onclick="logout()">sign out</div>
                    <div class="profile-menu__item" id="profile-menu__del" onclick="showConfirmDel()">delete account</div>
                    <div class="profile-menu__item profile-menu__item--confirm" id="profile-menu__confirm">
                        <div class="profile-menu__confirmtext">confirm delete account?</div>
                        <button class="profile-menu__button profile-menu__button--yes" onclick="deleteAccount()">yes</button>
                        <button class="profile-menu__button profile-menu__button--cancel" onclick="hideConfirmDel()">cancel</button>
                    </div>
                </div>
            </section>

        </header>

            {% block body %}{% endblock %}

        <footer class="page-format page-format--footer">
            {% block footer %}{% endblock %}
        </footer>

    </body>

</html>

<!-- ingest search bar data from stock_info.js -->
 <!--
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="../static/src/stock_info.js"></script>
<script src="../static/src/about.js"></script>
<script src="../static/src/scripts.js"></script>
<script src="../static/src/index.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="../static/dist/main.js"></script>

<!-- chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% block script %}{% endblock %}

<script>
    // searchbar script
    let searchbar = document.getElementById("searchbar");

    const searchevents = searchbarEvents();

    // catch up, down or enter key on search results
    searchbar.addEventListener('keydown', event => {searchevents.Keydown(event)});
    
    // catch search logic on any other key
    searchbar.addEventListener('keyup', event => {searchevents.Keyup(event)});
</script>