<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- bootstrap and css -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="../static/styles.css" rel="stylesheet">

        <!-- ingest search bar data from stock_info.js -->
        <script src="../static/stock_info.js"></script>
        <script src="../static/scripts.js"></script>
        <script src="../static/index.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body class="page-layout">

        <header class="page-format page-format--header">
            <section class="dashboard">
                <!-- LOGO -->
                <div class="dashboard__logo">
                    <a href = "/"><h1>finance+</h1></a>
                </div>
                <!-- SEARCH BAR -->
                <div class="dashboard__search">
                    <form class="dashboard__searchform" action="javascript:void(0)">
                        <input class="dashboard__searchbar" id="searchbar" type="text" autocomplete="off" placeholder="Search Symbol"/>
                    
                        <div class="dashboard__searchresult" id="searchstatus">
                        </div>
                    </form>
                </div>
                <!-- SETTINGS -->
                <div class="dashboard__settings">
                    <button class="dashboard__button"><a href=".\logout"><i class="fa fa-bars"></i></a></button>
                    </form>
                </div>
            </section>
        </header>

        <main class="page-format page-format--main" id="indexbody">
            {% block body %}{% endblock %}
        </main>

        <footer class="page-format page-format--footer">
            {% block footer %}{% endblock %}
        </footer>


    </body>

</html>

<script>
    // searchbar script
    let searchbar = document.getElementById("searchbar");

    const searchevents = searchbarEvents();

    // catch up, down or enter key on search results
    searchbar.addEventListener('keydown', event => {searchevents.Keydown(event)});
    
    // catch search logic on any other key
    searchbar.addEventListener('keyup', event => {searchevents.Keyup(event)});
</script>