{% extends "layout.html" %}

{% block title %}
    View Stock Page
{% endblock %}


{% block body %}
<main class="page-format page-format--view" id="indexbody">
    <section class="view-body">
        <div class="view-body view-body__heading" id="viewlogo">
        </div>
    </section>

    <div id="buyhideme" style="display: none;">
        <div class="buysellmenu">
            BUY
            <div id="buydollarsformcontainer">
                <div id="buydollarsform">
                    $<input type="number" id="viewbuydollars" name="viewbuydollars" min='0' placeholder="0.00" oninput="validity.valid||(value='');">
                </div>
            </div>
            <div id="buydollarsbuttoncontainer">
                <div id="buydollarsbutton">

                    <button onclick="buysellview.buyindollars()">Buy in Dollars</button>
                </div>
            </div>

            <div>
                ----------- or -------------

            </div>

            <div id="buysharesformcontainer">
                <div id="buysharesform">
                    <input type="number" id="viewbuyshares" name="viewbuyshares" min='0' placeholder="0" oninput="validity.valid||(value='');">share(s)
                </div>
            </div>
            <div id="buysharesbuttoncontainer">
                <div id="buysharesbutton">

                    <button onclick="buysellview.buyinshares()">Buy in Shares</button>
                </div>
            </div>

            <div>
                <div>
                    Current Price : $<data id="buycurrentprice"></data></br>
                    
                    <div id="buytype">
                    </div>

                    <p>Shares in holdings : <data id="buyquantity"> share(s)</data></p>
                    <p>Cash Available : $<data id="buycash"></data></p>

                    <div id="buystatus">
                    </div>

                </div>
            </div>
            <button onclick="viewview.buy()">Buy</button>
            <button onclick="buysellview.closeBuySellMenu()">Cancel</button>
        </div>
    </div>

    <div id="sellhideme" style="display: none;">
        <div class="buysellmenu">
            SELL
            <div id="selldollarsformcontainer">
                <div id="selldollarsform">
                    $<input type="number" id="viewselldollars" name="viewselldollars" min='0' placeholder="0.00" oninput="validity.valid||(value='');">
                </div>
            </div>
            <div id="selldollarsbuttoncontainer">
                <div id="selldollarsbutton">

                    <button onclick="buysellview.sellindollars()">Sell in Dollars</button>
                </div>
            </div>

            <div>
                ----------- or -------------
            </div>

            <div id="sellsharesformcontainer">
                <div id="sellsharesform">
                    <input type="number" id="viewsellshares" name="viewsellshares" min='0' placeholder="0" oninput="validity.valid||(value='');">share(s)
                </div>
            </div>
            <div id="sellsharesbuttoncontainer">
                <div id="sellsharesbutton">

                    <button onclick="buysellview.sellinshares()">Sell in Shares</button>
                </div>
            </div>

            <div>
                ----------- or -------------
            </div>

            <div id="sellcloseformcontainer">
                <div id="sellcloseform">
                    <input type="checkbox" id="viewsellclose" name="viewsellclose" onclick="buysellview.updatesellclosepage()"/> Close position and sell all shares
                </div>
            </div>
            <div id="sellclosebuttoncontainer">
                <div id="sellclosebutton">
                    <button onclick="buysellview.sellClose()">Close Position</button>
                </div>
            </div>

            <div>
                <div>
                    Current Price : $<data id="sellcurrentprice"></data></br>
                    
                    <div id="selltype">
                    </div></br>

                    <p>Shares in holdings : <data id="sellsharestotal"></data></p>
                    <p>Cash Available : $<data id="sellcashtotal"></data></p>

                    <div id="sellstatus"></div>
                </div>
            </div>
            <button onClick="viewview.sell()">Sell</button>


            <button onclick="buysellview.closeBuySellMenu()">Cancel</button>
        </div>
    </div>

    <section class="view-chart">
        <div id="viewcanvas">
        </div>
    </section>

    <section class="view-buttons-container" id='viewgraphbuttons'>
        <button class="view-buttons-graph" id="viewgraphday" onclick="viewview.graphButton('1d')">1D</button>
        <button class="view-buttons-graph" id="viewgraphweek" onclick="viewview.graphButton('1w')">1W</button>
        <button class="view-buttons-graph" id="viewgraphmonth" onclick="viewview.graphButton('1m')">1M</button>
        <button class="view-buttons-graph" id="viewgraphthreem" onclick="viewview.graphButton('3m')">3M</button>
        <button class="view-buttons-graph" id="viewgraphyear" onclick="viewview.graphButton('1y')">1Y</button>
    </section>

    <section class="view-info" id="viewinfo">
        <div class="view-stockprice">
            <div class="view-stockprice-cp" id="viewcurrentprice"></div>
            <div class="view-stockprice-drdp">
                <span id="viewdailyreturn"></span>
            </div>
        </div>
    </section>

    <section class="view-holdings" id="viewholdings">

        <div class="view-holdings__header">Holdings </div>

        <div class="view-holdings__lineitem">
            <div>Quantity :</div>
            <div>
                <div class="view-holdings__result">result</div>
            </div>
        </div>

        <div class="view-holdings__lineitem">
            <div>Avg Cost :</div>                
            <div>
                <div class="view-holdings__result">result</div>
                <div class="view-holdings__unit">$</div>
            </div>
        </div>

        <div class="view-holdings__lineitem">
            <div>Market Value :</div>
            <div>
                <div class="view-holdings__result">result</div>
                <div class="view-holdings__unit">$</div>
            </div>

        </div>

        <div class="view-holdings__lineitem">
            <div>Unrealised P & L :</div>
            <div>
                <div class="view-holdings__result">result</div>
                <div class="view-holdings__unit">$</div>
            </div>
        </div>
    </section>

    <section class="view-buttons--buysell">
        <button class="view-buttons-buysellmenu view-buttons-buysellmenu--buy" onclick="buysellview.showBuyMenu()">Buy</button> 
        <button class="view-buttons-buysellmenu view-buttons-buysellmenu--sell" id="viewsellbutton" onclick="buysellview.showSellMenu(states)">Sell</button>
    </section>

    <!-- Storing the data for this stock page -->
    <input type="hidden" id="datadump" name="datadump" value="{{ data }}">

</main>


    <script src="../static/viewstock.js"></script>
    <script src="../static/buysell.js"></script>
    <script>

        const viewcontroller = new viewController();
        const buysellview = new buySellView(viewcontroller);
        const viewview = new viewView(viewcontroller, buysellview);

        // initialise states
        let states = {'buy':false, 'sell':false, 'bydollars':false, 'byshares':false};

        viewview.renderpage();

        // refresh page every 3 secs
//        let interval = 3000;
//        const viewpageinterval = setInterval(()=>{viewview.refreshAPIDataServerV()}, interval);

    </script>

{% endblock %}