{% extends "layout.html" %}

{% block title %}
    View Stock Page
{% endblock %}


{% block body %}
<main class="page-format page-format--view" id="indexbody">

    <div class="global__screen" id="buysell-menu__page" style="visibility:hidden">
    </div>

    <!-- BUY PAGE -->
    <div class="buysell-menu-container" id="buyhideme">

        <section class="buysell-menu-section">
            <div class="buysell-menu">

                <div class="buysell__header-container">
                    <div class="buysell__header">Buy</div>
                </div>

                <!-- holdings data -->
                <section class="buysell-holdings">

                    <div class="buysell-holdings__item">
                        <div id="buysymbol" class="buysell-holdings__text buysell-holdings__text--symb"></div>
                    </div>

                    <div class="buysell-holdings__item">
                        <div class="buysell-holdings__text">Current Price :</div>
                        <div class="buysell-holdings__resultcontainer">
                            <div class="buysell-holdings__unit">$</div>
                            <div class="buysell-holdings__result" id="buycurrentprice"></div>
                        </div>
                    </div>

                    <div class="buysell-holdings__item" id="buytype">
                    </div>

                    <div class="buysell-holdings__item">
                        <div class="buysell-holdings__text">Shares in holdings : </div>
                        <div class="buysell-holdings__resultcontainer">
                            <div class="buysell-holdings__result" id="buyquantity"></div>
                        </div>
                    </div>

                    <div class="buysell-holdings__item">
                        <div class="buysell-holdings__text">Cash Available : </div>
                        <div class="buysell-holdings__resultcontainer">
                            <div class="buysell-holdings__unit">$</div>
                            <data class="buysell-holdings__result" id="buycash"></data>
                        </div>
                    </div>

                    <div id="buystatus">
                    </div>

                </section>
                <!-- forms section -->
                <section class="buyform">

                    <div class="buysellform-container" id="buydollarsformcontainer">
                        <div class="buysellform-container__form" id="buydollarsform">
                            $<input class="buysellform-container__input" type="number" id="viewbuydollars" name="viewbuydollars" min='0' placeholder="0" oninput="validity.valid||(value='');">
                        </div>
                    </div>

                    <div class="buysellbutton-container" id="buydollarsbuttoncontainer">
                        <div id="buydollarsbutton">
                            <button class="buysellbutton-container__buttons" onclick="buysellview.buyindollars()">Buy by Dollars</button>
                        </div>
                    </div>

                    <div>
                        or
                    </div>

                    <div class="buysellform-container" id="buysharesformcontainer">
                        <div class="buysellform-container__form" id="buysharesform">
                            <input class="buysellform-container__input" type="number" id="viewbuyshares" name="viewbuyshares" min='0' placeholder="0" oninput="validity.valid||(value='');">share(s)
                        </div>
                    </div>

                    <div class="buysellbutton-container" id="buysharesbuttoncontainer">
                        <div id="buysharesbutton">
                            <button class="buysellbutton-container__buttons" onclick="buysellview.buyinshares()">Buy by Shares</button>
                        </div>
                    </div>
                </section>


                <!-- buttons -->
                <div class="buysellbutton-container buysellbutton-container--order">
                    <button class="buysellbutton-container__buttons buysellbutton-container__buttons--buy" id="buy-button" onclick="viewview.buy()">Place Order</button>
                    <button class="buysellbutton-container__buttons buysellbutton-container__buttons--close" onclick="buysellview.closeBuySellMenu()">Close</button>
                </div>
            </div>
        </section>
    </div>

    <!-- SELL PAGE -->
    <section class="buysell-menu-container" id="sellhideme">
<!--
        <div class="buysell-menu__page">
        </div>
-->
        <section class="buysell-menu-section">
            <div class="buysell-menu buysell-menu--sell">

                <div class="buysell__header-container">
                    <div class="buysell__header">Sell</div>
                </div>

                <!-- holdings data -->
                <section class="buysell-holdings">

                    <div class="buysell-holdings__item">
                        <div id="sellsymbol" class="buysell-holdings__text buysell-holdings__text--symb"></div>
                    </div>

                    <div class="buysell-holdings__item">
                        <div class="buysell-holdings__text">Current Price :</div>
                        <div class="buysell-holdings__resultcontainer">
                            <div class="buysell-holdings__unit">$</div>
                            <div class="buysell-holdings__result" id="sellcurrentprice"></div>
                        </div>
                    </div>
                    
                    <div class="buysell-holdings__item" id="selltype">
                    </div>
                    
                    <div class="buysell-holdings__item">
                        <div class="buysell-holdings__text">Shares in holdings : </div>
                        <div class="buysell-holdings__resultcontainer">
                            <div class="buysell-holdings__result" id="sellsharestotal"></div>
                        </div>
                    </div>

                    <div class="buysell-holdings__item">
                        <div class="buysell-holdings__text">Cash Available : </div>
                        <div class="buysell-holdings__resultcontainer">
                            <div class="buysell-holdings__unit">$</div>
                            <data class="buysell-holdings__result" id="sellcashtotal"></data>
                        </div>
                    </div>

                    <div id="sellstatus">
                    </div>
    
                </section>
                
                <!-- forms section -->
                <section class="sellform">

                    <div class="buysellform-container" id="selldollarsformcontainer">
                        <div class="buysellform-container__form" id="selldollarsform">
                            $<input class="buysellform-container__input" type="number" id="viewselldollars" name="viewselldollars" min='0' placeholder="0" oninput="validity.valid||(value='');">
                        </div>
                    </div>

                    <div class="buysellbutton-container" id="selldollarsbuttoncontainer">
                        <div id="selldollarsbutton">
                            <button class="buysellbutton-container__buttons" onclick="buysellview.sellindollars()">Sell in Dollars</button>
                        </div>
                    </div>

                    <div>
                        or
                    </div>

                    <div class="buysellform-container" id="sellsharesformcontainer">
                        <div class="buysellform-container__form" id="sellsharesform">
                            <input class="buysellform-container__input" type="number" id="viewsellshares" name="viewsellshares" min='0' placeholder="0" oninput="validity.valid||(value='');">share(s)
                        </div>
                    </div>

                    <div class="buysellbutton-container" id="sellsharesbuttoncontainer">
                        <div id="sellsharesbutton">
                            <button class="buysellbutton-container__buttons" onclick="buysellview.sellinshares()">Sell in Shares</button>
                        </div>
                    </div>

                    <div>
                        or
                    </div>

                    <div class="sellcloseform-container" id="sellcloseformcontainer" onclick="buysellview.checkAndUpdateClose()">
                        <input onclick="buysellview.checkAndUpdateClose()" class="buysellform-container__formcheckbox" type="checkbox" id="viewsellclose" name="viewsellclose" checked="false" >
                        <div class="sellcloseform__text">Close position and sell all shares</div>
                    </div>

                    <div class="buysellbutton-container" id="sellclosebuttoncontainer">
                        <div id="sellclosebutton">

                            <button class="buysellbutton-container__buttons" onclick="buysellview.sellClose()">Close Position</button>
                        </div>
                    </div>

                </section>


                <!-- buttons -->
                <div class="buysellbutton-container buysellbutton-container--order">
                    <button id="sell-button" class="buysellbutton-container__buttons buysellbutton-container__buttons--sell" onClick="viewview.sell()">Place Order</button>
                    <button class="buysellbutton-container__buttons buysellbutton-container__buttons--close" onclick="buysellview.closeBuySellMenu()">Close</button>
                </div>
            </div>
        </section>
    </section>

    <section class="view-body">
        <div class="view-body view-body__heading" id="viewlogo">
        </div>
        <div class="view-body view-body__market">
            <div class="market__status" id="market__status"></div>
        </div>
    </section>

    <!-- chart -->
    <section class="view-chart" id="viewcanvas">
    </section>

    <section class="view-buttons-container" id='viewgraphbuttons'>
        <button class="view-buttons-graph" id="viewgraphday" onclick="viewview.graphButton('1d')">1D</button>
        <button class="view-buttons-graph" id="viewgraphweek" onclick="viewview.graphButton('1w')">1W</button>
        <button class="view-buttons-graph" id="viewgraphmonth" onclick="viewview.graphButton('1m')">1M</button>
        <button class="view-buttons-graph" id="viewgraphthreem" onclick="viewview.graphButton('3m')">3M</button>
        <button class="view-buttons-graph" id="viewgraphyear" onclick="viewview.graphButton('1y')">1Y</button>
    </section>

    <section class="view-info" id="viewinfo">
        <div class="view-stockprice">
            <div class="view-stockprice-cp" id="viewcurrentprice"></div>
            <div class="view-stockprice-drdp">
                <span id="viewdailyreturn"></span>
            </div>
        </div>
    </section>

    <!-- holdings data -->
    <section class="view-holdings" id="viewholdings">

        <div class="view-holdings__header">Holdings </div>

        <div class="view-holdings__lineitem">
            <div>Quantity :</div>
            <div>
                <div class="view-holdings__result">result</div>
            </div>
        </div>

        <div class="view-holdings__lineitem">
            <div>Avg Cost :</div>                
            <div>
                <div class="view-holdings__result">result</div>
                <div class="view-holdings__unit">$</div>
            </div>
        </div>

        <div class="view-holdings__lineitem">
            <div>Market Value :</div>
            <div>
                <div class="view-holdings__result">result</div>
                <div class="view-holdings__unit">$</div>
            </div>

        </div>

        <div class="view-holdings__lineitem">
            <div>Unrealised P & L :</div>
            <div>
                <div class="view-holdings__result">result</div>
                <div class="view-holdings__unit">$</div>
            </div>
        </div>
    </section>

    <!-- buttons -->
    <section class="view-buttons--buysell">
        <button class="view-buttons-buysellmenu view-buttons-buysellmenu--buy" onclick="buysellview.showBuyMenu()">Buy</button> 
        <button class="view-buttons-buysellmenu view-buttons-buysellmenu--sell" id="viewsellbutton" onclick="buysellview.showSellMenu(states)">Sell</button>
    </section>

    <!-- Storing the data for this stock page -->
    <input type="hidden" id="datadump" name="datadump" value="{{ data }}">

</main>

{% endblock %}

{% block script %}

<!--
<script src="../static/src/viewstock.js"></script>
<script src="../static/src/buysell.js"></script>-->
<script>

   
    const viewcontroller = new viewController();
    const buysellview = new buySellView(viewcontroller);
    const viewview = new viewView(viewcontroller, buysellview);

    // initialise states
    let states = {'buy':false, 'sell':false, 'bydollars':false, 'byshares':false};

    viewview.renderpage();
//    viewview.timedRefresh();

</script>

{% endblock %}